:root {
    overflow: hidden;
    /* background-image: url(./images/layered-waves-haikei.svg); */
    /* background-image: url(./images/blob-scene-haikei.svg); */
    background-image: url(./images/blob-scene-haikei\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-color: #000b14;
    font-family: 'Roboto Mono', monospace;
}

/* Kyle Added some animation*/
h1 {
    /* color: white; */
    width: 100%;
    font-size: 25px;
    height: 150px;
    /* background: red; */
    position: relative;
    animation: mymove 5s infinite;
    text-align:start;
    /* margin:0%; */
    margin-left: 240px;
    /* border-radius: 10px; */
}
button {
    height: 20px;
    width: 50px;
}
@keyframes mymove {
    0% {
        color: #83ff00;
        left: 0px;
        top: 0px;
    }

    25% {
        color: #00d172;
        left: 200px;
        top: 0px;
    }

    50% {
        color: #008994;
        left: 200px;
        top: 200px;
    }

    75% {
        color: #00d172;
        left: 0px;
        top: 200px;
    }

    100% {
        color: #83ff00;
        left: 0px;
        top: 0px;
    }
}

.groceryinput:hover {
    background-color: #38f140;
}

#searchbtn:hover {
    background-color: #38f140;
}

#reloadbtn:hover {
    background-color: #38f140;
}

/* Kyle Ends here */
.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.resultcard {
    padding-top: 20px;
    display:flex;
    width: 55vw;
    height:55vh;
}

.card {
    background-color: rgba(0, 22, 40, 0.4);
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 300px;
    margin: 50px;
    /* width: 25vw;
    height: 25vh; */
    box-shadow: #000b14 7px 10px 25px;
}

.searchcard {
    width: 25vw;
    height: 25vh;

}

.cardtitle {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-shadow: #0e1822 3px 3px 3px;
}

h3 {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 25px;
    padding: 5px;
    padding-bottom: 7px;

}

input {

    border-radius: 20px;
    width: 10vw;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bolder
}

.searchbtn {
    font-size: 20px;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);

}

.reloadbtn{
    font-size: 20px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.8);  

}

.product_btn {
    width: auto;
    height:auto;
    border-radius: 20px;
    
}

.modalbtn{
    margin-top: 10px;
    margin-left:10px;
    background-color: transparent;
    transition: all .2s ease-in-out;
}

.modalbtn:hover{
    background-color:transparent;
    color:#38f140;
    transform: scale(1.4)
}

.reloadcontainer {
    display: flex;
    justify-content:center;

    width: 100%;
    margin-top: 50px;
    position: absolute;
    z-index: +1;
}


.reloadbtn:hover {
        animation: 1s linear 0s rotate;
        animation-iteration-count: infinite;
    }

    .slidedownout {
        animation: 1s ease-out 0s slidedownout;
        animation-fill-mode: forwards;
    }
    
    .slidedownin {
        animation: 1s ease-out 0s slidedownin;
        animation-fill-mode: forwards;
    
    }

    @keyframes rotate{
        from {
            transform:rotate(0deg)
        } to {
            transform:rotate(360deg)
        }
    }
    
    @keyframes slidedownout {
        0% {
            transform: translateY(0%);
          }
          20% {
            transform: translateY(-30%);
          }
          100% {
            transform: translateY(600%);
          }
    }
    
    @keyframes slidedownin {
        0% {
            transform: translateY(-600%);
          }
          80% {
            transform: translateY(30%);
          }
          100% {
            transform: translateY(0);
          }
    }

    /* @keyframes slideupout {
        0% {
            transform: translateY(0%);
          }
          20% {
            transform: translateY(-30%);
          }
          100% {
            transform: translateY(600%);
          }
    }
    
    @keyframes slideupin {
        0% {
            transform: translateY(-600%);
          }
          80% {
            transform: translateY(30%);
          }
          100% {
            transform: translateY(0);
          }
    } */