:root {
    overflow: hidden;
    /* background-image: url(./images/layered-waves-haikei.svg); */
    /* background-image: url(./images/blob-scene-haikei.svg); */
    background-image: url(./images/blob-scene-haikei\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    background-color: #000b14;
    font-family: 'Roboto Mono', monospace;
}

/* Kyle Added some animation*/
h1 {
    color: white;
    width: 100%;
    font-size: 25px;
    height: 150px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;
    text-align: center;
    margin: 0%;
    border-radius: 10px;
}

@keyframes mymove {
    0% {
        background: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background: red;
        left: 0px;
        top: 0px;
    }
}

.groceryinput:hover {
    background-color: yellow;
}

#searchbtn:hover {
    background-color: yellow;
}

/* Kyle Ends here */
.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.card {
    background-color: rgba(0, 22, 40, 0.4);
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 310px;
    margin: 50px;
    width: 25vw;
    height: 25vh;
    box-shadow: #000b14 7px 10px 25px;
}

.cardtitle {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-shadow: #0e1822 3px 3px 3px;
}

h3 {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 25px;
    padding: 5px;
    padding-bottom: 7px;

}

input {
    border-radius: 20px;
    width: 20vw;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bolder
}

.searchbtn {
    font-size: 20px;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);

}

.closebtn {
    font-size: 20px;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.8);
    
    }

    .slidedownout {
        animation: 1s ease-out 0s slidedownout;
        animation-fill-mode: forwards;
    }
    
    .slidedownin {
        animation: 1s ease-out 0s slidedownin;
        animation-fill-mode: forwards;
    
    }
    
    @keyframes slidedownout {
        0% {
            transform: translateY(0%);
          }
          20% {
            transform: translateY(-30%);
          }
          100% {
            transform: translateY(600%);
          }
    }
    
    @keyframes slidedownin {
        0% {
            transform: translateY(-600%);
          }
          80% {
            transform: translateY(30%);
          }
          100% {
            transform: translateY(0);
          }
    }